venv/
__pycache__/
*.pyc
.DS_Store
ncbi_dataset.zip
venv/
__pycache__/
*.pyc
.DS_Store
ncbi_dataset.zip
psilocybe_penvy/
blast_db/
datos/
resultados/*/antismash/*.gbk
resultados/*/antismash/*.zip
resultados/*/antismash/css/
resultados/*/antismash/js/
resultados/*/antismash/images/
resultados/*/antismash/*.json